@font-face {
  font-family: 'RenaultLife';
  src: url('./fonts/RenaultLife');
  src: url('./fonts/RenaultLife/RenaultLife-Bold.otf');
  src: url('./fonts/RenaultLife/RenaultLife-Regular.otf');
}

html,
body {
  font-family: 'RenaultLife', sans-serif;
  height: 100%;
}

.yellow-text {
  color: #fbcf23;
}

.red-warning {
  color: #be0e0d;
}

.image-shadow {
  box-shadow: 0 10px 6px -6px #777;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
}
/* Section: Navbar */

.logo {
  height: 40px;
}

#mainNavbar {
  background: url(./compressed/background-min.jpg);
  background-size: cover;
  background-position: 50% 40%;
  min-height: 500px;
}

.navbar.bg-light {
  background-color: rgb(236, 236, 236) !important;
  box-shadow: 1px 1px 20px #888888;
}
.navbar.scrolled {
  background-color: #e7e7e7 !important;
}
.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
#scrollNav .nav-link {
  font-weight: 550;
  color: black;
  padding: 1rem;
  letter-spacing: 0.8px;
}
#scrollNav .nav-link:hover {
  color: #f3c921;
}

.fa-home {
  margin-right: 10px;
}

/* Section: Aktuelles - index.html */
#aktuelles {
  border-top: 1px solid #fbcf23;
  background-color: #f8f8f8;
  /* min-height: 650px; */
}

.aktuelles-img {
  box-shadow: 0 10px 6px -6px #777;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  margin-top: 20px;
}

.fa-circle {
  color: #fbcf23;
}

.update-info li {
  font-size: 1.2rem !important;
}

#aktuelles a {
  text-decoration: none;
}

/* Section: About us - index.html */
#about {
  min-height: 450px !important;
  border-top: 1px solid #fbcf23 !important;
  border-bottom: 1px solid #fbcf23 !important;
}
.list li {
  list-style-type: disc !important;
}
.flex-tem {
  display: flex !important;
  justify-content: center !important;
}
.side-img-clio {
  position: absolute;
  left: 0;
  max-width: 1170px;
  margin: 0 auto;
  right: 0;
}
.side-img-clio img {
  position: relative;
  left: 100%;
  margin-left: -1220px;
  top: -155px;
}

/* Section: Team Images - index.html */
#team {
  min-height: 820px !important;
  /* background-color: #fbfbfb; */
}

.name {
  font-weight: 900;
}
.position {
  letter-spacing: 0.3px;
}
.info-box {
  /* border: 1px solid #fbcf23;
  background-color: #f9f8f7; */
}
.flex {
  display: flex;
  justify-content: center !important;
}
.team-pic {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

/* Section: Index.html / Reviews */
.carousel-review {
  height: 250px;
  border-top: 1px solid #fbcf23 !important;
}
.svg-inline--fa.fa-w-18 {
  color: #fbcf23;
}

.grey-box .svg-inline--fa.fa-w-18 {
  margin-right: 5px;
  color: black;
}
.side-img {
  position: absolute;
  left: 0;
  max-width: 1170px;
  margin: 0 auto;
  right: 0;
}
.side-img img {
  position: relative;
  left: 100%;
  margin-left: -350px;
  top: -170px;
}

/* Section: Ocassionen - occasionen.html */
.car-name {
  min-height: 80px;
  display: flex;
  align-items: center;
}

.short-desc {
  display: flex;
  align-items: center;
  border-top: 1px solid #fbcf23;
  min-height: 110px;
}

.detailed-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#viewoccasionen {
  border-top: 1px solid #fbcf23 !important;
}
.car-name {
  border-bottom: 1px solid #fbcf23;
}

.price {
  color: #fbcf23;
}
.autoscout:hover {
  color: #f3c921;
  text-decoration: none;
}
.svg-inline--fa.fa-w-14,
.svg-inline--fa.fa-w-16 {
  margin-right: 10px;
}

.autoimg img {
  box-shadow: 0 10px 6px -6px #777;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
}

/* Section: Neuwagen - occasionen.html */
/* #neuwagen {
  background: url(./compressed/Background_Clio_RS.jpg);
  background-position: 50% 50%;
  background-size: cover;
  min-height: 450px;
  border-top: 1px solid #fbcf23;
} */
#neuwagen {
  background: url(./compressed/Koleos_compressor.jpg);
  background-position: 50% 40%;
  background-size: cover;
  min-height: 450px;
  border-top: 1px solid #fbcf23;
}

.link-renault:hover {
  transition: color 0.5ss;
  color: #fbcf23;
  text-decoration: none;
}
/* Section: Map responsive */
.google-maps {
  overflow: hidden;
  padding-right: 40px;
}

/* Section: Multimedia */
.warning {
  height: 60px;
  background-color: #be0e0d;
  border-top: 1px solid #fbcf23;
  letter-spacing: 1px;
  color: rgb(228, 220, 220);
}

#multimedia .btn-outline-warning {
  display: block;
  width: 300px;
}

#multimedia img {
  box-shadow: 1px 1px 80px #888888;
}

.multimedia-button .btn {
  font-size: 1.1;
  letter-spacing: 1.2px;
  color: black;
}

.multimedia-button .btn:hover {
  font-weight: bold;
}

.multimedia-mini-button .btn {
  background-color: #fbcf23;
  letter-spacing: 0.1em;
  color: black;
  font-size: 0.9rem;
}

.multimedia-mini-button .btn:hover {
  font-weight: bold;
}

.border {
  border: 1px solid #fbcf23 !important;
}

.elektrofahrzeuge-section,
.sport-section,
.nutzfahrzeuge-section,
.hybridfahrzeuge-section {
  display: none;
}

.car-listing .mini-menu {
  border-top: 1px solid #fbcf23;
  border-bottom: 1px solid #fbcf23;
}

/* Setion: View.html: contact form */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#contact input[type='text'],
#contact input[type='email'],
#contact input[type='tel'],
#contact input[type='url'],
#contact textarea,
#contact button[type='submit'] {
  font: 400 12px/16px 'Open Sans', Helvetica, Arial, sans-serif;
}

#contact {
  background: #f9f9f9;
  padding: 25px;
  margin: 50px 0;
}

#contact h3 {
  color: #fbcf23;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type='text'],
#contact input[type='email'],
#contact input[type='tel'],
#contact input[type='url'],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type='text']:hover,
#contact input[type='email']:hover,
#contact input[type='tel']:hover,
#contact input[type='url']:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type='submit'] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #fbcf23;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type='submit']:hover {
  background: #fbcf23;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type='submit']:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}

/* Section: Neuwagen */
.car-listing {
  border-top: 1px solid #fbcf23;
}
.btn-outline-warning a {
  color: #212529;
}
.btn-outline-warning a:hover {
  text-decoration: none !important;
  backrgound-color: #fbcf23;
}
.btn-outline-warning:hover {
  background: #fbcf23 !important;
}
.btn-outline-warning {
  color: rgb(37, 36, 36);
  opacity: 0.9;
}

.neuwagen-preise {
  font-size: 0.9rem;
  color: #888;
}
.mini-menu-item {
  display: inline;
}

.car-listing .mini-menu a {
  letter-spacing: 0.8px;
  color: black;
  font-size: ;
}

.car-listing .mini-menu a:hover {
  text-decoration: none;
  color: #f1c820;
  font-weight: bold;
}

/* Section: Kontakt - index.html & occasionen.html */
#kontakt {
  /* min-height: 420px; */
  border-top: 1px solid #fbcf23;
  background-color: #e0e0e0;
}
.zeiten,
.addresse,
.phone {
  color: #4b3e38 !important;
}

.copyright {
  color: #1f272f;
  position: relative !important;
  top: 4px !important;
}
.footer-copyright {
  height: 30px;
  border-top: 1px solid #fbcf23;
  background-color: rgb(247, 245, 245) !important;
}
/* Section: Kontakt info - kontakt.html */
.kontakt-info {
  border-top: 1px solid #fbcf23;
  border-bottom: 1px solid #fbcf23;
  font-size: 1rem;
}
/* MEDIA QUERIES */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* GENERAL */
  h1 {
    font-size: 1.5rem !important;
  }
  h4 {
    font-size: 1rem !important;
    padding-top: 20px !important;
  }
  /* NAVBAR */
  .logo {
    height: 25px;
  }
  #mainNavbar {
    min-height: 350px;
  }
  .navbar-brand {
    font-size: 1.2rem !important;
  } /* SECTION: AKTUELLES */
  #aktuelles {
    min-height: 400px !important;
  }
  .aktuelles-img {
    height: 270px !important;
    width: 90% !important;
  }
  #aktuelles h1 {
    padding-top: 0 !important;
  }
  #aktuelles h3 {
    font-size: 1.2rem;
  }
  .circle {
    margin-top: 1rem !important;
  }
  .news-container {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
  .new-container row {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
  .news {
    font-size: 15px;
  }
  .multimedia h2 {
    font-size: 1.2rem;
  }
  .update-info p {
    font-size: 1rem;
  }
  /* SECTION: ABOUT */
  .section-about {
    height: 600px !important;
  }
  .rounded-circle {
    margin: 0 auto !important;
  }
  #about {
    height: 760px;
  }
  .name {
    margin-top: -10px;
  }
  .position {
    font-size: 14px;
  }
  .info-box {
    max-width: 350px;
  }
  /* .side-img-clio img {
    height: 100px;
    margin-left: -440px;
    top: -50px;
  } */
  /* Section: Team */
  #team {
    padding-bottom: 30px;
  }
  #team h1 {
    padding-top: 0 !important;
  }
  .team-container {
    margin-top: -20px !important;
  }

  #aktuelles h3 {
    font-size: 1.2rem;
  }
  /* Section: Index.html / side-img */
  .carousel-review {
    height: 320px !important;
  }
  .carousel-review h2 {
    margin-left: -1.5rem !important;
    margin-right: -1.5rem !important;
  }
  .side-img img {
    height: 100px;
    margin-left: -180px;
    top: -90px;
  }
  /* Occasionen */
  .btn {
    margin-bottom: 30px;
  }
  /* Section: Neuwgaen */
  #neuwagen {
    min-height: 300px;
  }
  .h1-team {
    padding: 1rem;
  }
  #neuwagen h3 {
    font-size: 1.2rem;
  }
  .section-neuwagen {
    background-position: 60% 50%;
    min-height: 250px !important;
  }
  /* Section: View.html */
  #viewoccasionen h1 {
    margin-bottom: -3rem !important;
  }
  .price {
    padding-bottom: -3rem !important;
  }
  /* Multimedia */
  .warning h3 {
    font-size: 0.9rem !important;
  }
  #multimedia h3 {
    font-size: 1.2rem;
  }
  #multimedia .btn-outline-warning {
    letter-spacing: 0.8px;
    font-size: 0.8rem;
  }
  #multimedia .buttons {
    justify-content: center;
    align-self: center;
  }
  .image-box {
    display: none;
  }

  /* Section: Kontakt */
  #kontakt {
    padding-top: 25px;
    /* margin-bottom: -30px; */
  } /* Section: Kontakt info - kontakt.html */
  .product-item {
    -webkit-column-count: 2;
    column-count: 2;
  }
  .padding {
    padding: 20px 20px 0 20px;
  }
}
@media (min-width: 768px) {
  .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%;
  }

  #carouselExampleSlidesOnly {
    margin-top: 1rem !important;
  }
}

/* TESTING */

.price-margin-align {
  margin-top: 20px;
}

.img-margin-adjust-0 {
  margin-top: 25px;
}

.col-sm-4-zoe {
  height: 640px !important;
  width: 280px !important;
}

.price-and-other-0 {
  position: relative;
  bottom: 13px;
}

.mt-adj-1 {
  margin-top: -16px;
}

.mt-adj-2 {
  margin-top: 20px;
}

/* RENAULT MÉGANE Grandtour */
.mt-adj-3 {
  margin-top: -20px;
}

.pos-rel-1 {
  position: relative;
  top: 20px;
}

/* RENAULT ZOE Intens */
.mt-adj-4 {
  margin-top: -8px;
}

.text-white {
  color: white;
}

.adjusted-margin {
  margin-top: 1.5rem;
}
