/* Section: Navbar */
.main-header {
  background: url(./images/00141027.jpg);
  background-size: cover;
  background-position: 50% 63%;
  min-height: 450px;
  color: #fff;
}

/*
.logo-img {
min-height: 30px;
max-width: 400px;
}

.brand-logo {
    /* color: #4B3E38 !important; 
    color: #fff;
    letter-spacing: 1px !important;
    position: relative;
    left: 50px !important;
}
*/

.brand-logo {
  color: #fad523 !important;
  letter-spacing: 1px !important;
}



nav ul a:hover {
  background-color: #fbcf23;
}

nav ul a {
  letter-spacing: 0.7px;
}

.embedded-content-area {
  height: 900px;
}

.carousel .carousel-item > img {
  width: 50%;
}


/* Section: Aktuelles */

.section-aktuelles {
  min-height: 350px !important;
  border: 1px solid #fbcf23;
}

.aktuelles-1 {
  box-shadow: 0 10px 6px -6px #777;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
}

.card .card-image img {
  width: 70% !important;
}


/* Section: About us */


.section-about {
  min-height: 500px !important;
  border-top: 1px solid #fbcf23 !important;
}

.aboutus {
  margin-top: 55px;
}

.list li {
  list-style-type: disc !important;
  position: relative;
  left: 25px;
}

.dienstleistungen {
  margin-top: -5px !important;
  margin-bottom: -5px !important;
}

.circle {
  position: relative;
  bottom: 28px;
}

.fam-photo {
  height: 400px !important;
}


/* Section: Team */

.section-team {
  border-top: 1px solid #fbcf23 !important;
}

.pics {
  min-height: 450px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-family: Roboto, sans-serif;
  border-bottom: 1px solid #fbcf23 !important;
}

.team-pictures {
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

.team-pic:hover {
  transform: scale(1.1);
}

.team-pic,
.name {
  margin: 20px;
}

.name,
.position {
  text-align: center;
  letter-spacing: 0.8px;
}

.name {
  font-weight: bold;
  margin-bottom: -5px;
  margin-top: -5px;
  font-size: 18px;
  color: #3d3c3c;
}

.position {
  font-size: 16px;
}

.team-pic {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

/* Section: Neuwagen */

.section-neuwagen {
  background: url(./images/Clio_RS_00111300.jpg);
  background-position: 50% 50%;
  background-size: cover;
  min-height: 350px;
}

.neuwagen-h4 {
  font-size: 1.9rem !important;
}

.link-renault:hover {
  transition: color 0.5ss;
  color: #8ba9c3;
}

/* Section: Ocassionen */
.section-occasionen {
  border: 1px solid #fbcf23;
}

iframe {
  margin-top: 15px;
}

.autoscout-container {
  position: relative;
  padding-bottom: 30%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.autoscout-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Section: Map responsive */
.google-maps {
  overflow: hidden;
}

/* Section: Kontakt */

.zeiten,
.addresse,
.phone {
  color: #4b3e38 !important;
}

.copyright {
  color: #1f272f;
  position: relative !important;
  top: 4px !important;
}

.footer-copyright {
  height: 30px;
  border-top: 1px solid #fbcf23;
}

/* Section: Button Top */

#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #fbcf23;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .logo-img {
    display: none;
  }

  .brand-logo {
    position: relative !important;
    right: 30px !important;
    font-size: 20px !important;
  }

  .main-header {
    min-height: 300px !important;
  }

/* SECTION: ABOUT */

  .section-about {
    height: 600px !important;
  }

  .circle  {
    max-width: 80% !important;
    position: relative;
    right: -20px;
    top: 20px;
  }

  .aboutus {
    margin-top: -10px !important;
  }

  .team-pic {
    max-width: 70% !important;
  }

  .name {
    margin-top: -10px;
  }

  .position {
    font-size: 14px;
  }
  .neuwagen-h4 {
    color: white;
    font-size: 16px !important;
    position: relative;
    top: 250px;
    left: 20px;
    letter-spacing: 1px;
    line-height: 1.6;
  }
}

